<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShakeAndSound.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>782E77DC1D2359CB00B1CDCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>782E77F51D2359CB00B1CDCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>782E78001D2359CB00B1CDCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
